{% extends "template.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap-markdown-editor.css">
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-tomorrow.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-markdown.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"></script>
<script src="/static/js/bootstrap-markdown-editor.js"></script>
<script>
    $(document).ready(function(){
        editHandler();
    });
</script>
{% endblock %}
{% block content %}
{% if post %}
<input type="hidden" id="post-id" value="{{ post.id }}"/>
{% endif %}
<form>
    <div class="form-group">
        <input type="text" id="post-title" class="form-control" placeholder="Title" value="{{ post.post_title }}"/>
    </div>
</form>
<div id="post">{{ post.post_content|safe }}</div>
<div id="post-actions">
    <div class="pull-left">
        <a href="#" id="post-save" class="btn btn-default">Save</a>
        <a href="#" id="post-publish" class="btn btn-primary">Publish</a>
    </div>
    {% if post %}
    <div class="pull-right">
        <a href="/post/view/{{ post.id }}" id="post-view" class="btn btn-default">View</a>
    </div>
    {% endif %}
</div>
{% endblock %}