{% extends "template.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap-markdown-editor.css">
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-tomorrow.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-markdown.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"></script>
<script src="/static/js/bootstrap-markdown-editor.js"></script>
<script>
    $(document).ready(function(){
        pinHandler();
        commentHandler();
    });

</script>
{% endblock %}
{% block content %}
<div class="row" style="background: #f8f8f8; border: 1px solid #e7e7e7">
    <br>
    <br>

    <div class="col-md-3">
        <div class="left-canvas col-md-11">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><i class="fa fa-share-alt"></i> <strong>Share</strong></h3>
                </div>
                <br>

                <div class="panel-body">
                    <div><a class="btn btn-default"><i class="fa fa-facebook"></i> share on facebook</a></div>
                    <br>

                    <div><a class="btn btn-default"><i class="fa fa-twitter"></i> share on twitter&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
                    <hr style="border-color: #ccc">
                    <div>
                        <i class="fa fa-tags"></i>
                        <a href="#">python</a>,
                        <a href="#">cloud</a>,
                        <a href="#">algorithm</a>,
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
            <hr style="border-color: #ccc">
            <div class="pin text-center">
                {% if pin %}
                <a class="btn btn-primary" post_id="{{ post.id }}" id="post-pin"><i class="fa fa-bookmark"></i> - Unpin this post</a>
                {% else %}
                <a class="btn btn-default" post_id="{{ post.id }}" id="post-pin"><i class="fa fa-bookmark"></i> - Pin this post</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-6">
        <div class="post-title">{{ post.post_title | safe }}</div>
        <br>

        <div class="row text-muted">
            <div class="col-md-3"><i class="fa fa-user"></i><a href="#"> {{ post.user.first_name }}</a></div>
            <div class="col-md-1 text-center"><i class="fa fa-ellipsis-v"></i></div>
            <div class="col-md-4 text-center"><i class="fa fa-clock-o"></i> {{ post.created_at }}</div>
            <div class="col-md-1 text-center"><i class="fa fa-ellipsis-v"></i></div>
            <div class="col-md-3">
                {% if user.is_authenticated %}
                <div class="text-right"><i class="fa fa-pencil"></i> <a href="/post/edit/?post_id={{ post.id }}">Edit</a>&nbsp;</div>
                {% endif %}
            </div>
        </div>
        <hr style="border-color: #ccc">
        <div class="post-content">{{ post.post_content | safe }}</div>
        <br>
        <br>
    </div>
    <div class="col-md-3"></div>
</div>
<!-- COMMENTS -->
<!--<hr style="border-color: #ccc">-->
<br>
<br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <br>
        <a href="#posted-comments"><h3><i class="fa fa-commenting"></i> Comments or Disqus</h3></a>
        <br>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a href="#post-comments-tab" aria-controls="post-comments-tab" role="tab" data-toggle="tab">Comments</a>
            </li>
            <li role="presentation" class="active">
                <a href="#disqus-comments-tab" aria-controls="disqus-comments-tab" role="tab" data-toggle="tab">Disqus</a>
            </li>
        </ul>

        <div class="comments-tabs tab-content">
            <div role="tabpanel" class="tab-pane" id="post-comments-tab">
                <div id="comment">
                    {% if not user.is_authenticated %}
                    <span>You should be logged in to post comments using this area</span>
                    {% endif %}
                </div>
                <br>

                <div class="comment-actions clearfix">
                    <a href="#" post_id={{ post.id }} id="comment-save" class="btn btn-sm btn-primary pull-right">Save&nbsp;</a>
                </div>
                <hr style="border-color: #ccc">
                <div id="posted-comments">
                    {% for comment in comments %}
                    <div class="post-comment well">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="http://placehold.it/64x64" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#" class="media-heading">{{ comment.user.first_name }}</a>
                                <p>
                                    {{ comment.text | safe}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane active" id="disqus-comments-tab">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES * * */
                    var disqus_shortname = 'shutterdeck';

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();

                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'shutterdeck';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());

    </script>
</div>
{% endblock %}