{% extends "template.html" %}
{% block content %}
<div class="summary">
    <div class="row">
        <div class="col-md-3">
            {% if share %}
            <div class="left-canvas col-md-11">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center"><i class="fa fa-share-alt"></i> <strong>Share</strong></h3>
                    </div>
                    <br>

                    <div class="panel-body">
                        <div><a class="btn btn-default"><i class="fa fa-facebook"></i> share on facebook</a></div>
                        <br>

                        <div><a class="btn btn-default"><i class="fa fa-twitter"></i> share on twitter&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
                        <hr style="border-color: #ccc">
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="post-summary">
                {% for post in posts %}
                <div class="post-title"><a href="/post/view/{{ post.id }}">{{ post.post_title | safe }}</a></div>
                <br>

                <div class="post-content">{{ post.post_content | safe }}</div>
            </div>
            <hr style="border-color: #ccc">
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                    </span>
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}