<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default title{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/codehilite.css">
    {% block css %}{% endblock %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.3/js.cookie.min.js"></script>
    <script src="/static/js/script.js"></script>
    <script>
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.method) && !this.crossDomain) {
                    var csrftoken = Cookies.get('csrftoken');
                    xhr.setRequestHeader('X-CSRFToken', csrftoken);
                }
            }
        });
    </script>
    {% block script %}{% endblock %}
</head>
<body>
{% block header %}
<div id="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#collapse-target" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Shutterdeck</a>
            </div>
            <div class="collapse navbar-collapse" id="collapse-target">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/categories/algorithms">Algorithms</a></li>
                    <li><a href="/categories/cplusplus">C++</a></li>
                    <li><a href="/categories/python">Python</a></li>
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ user.first_name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if can_user_post %}
                            <li><a href="/post/edit"><i class="fa fa-pencil"></i>&nbsp; Post</a></li>
                            <li><a href="/post/list/{{ profile.id }}"><i class="fa fa-bars"></i>&nbsp; List</a></li>
                            {% endif %}
                            <li><a href="/profile/view/?profile_id={{ profile.id }}"><i class="fa fa-user"></i>&nbsp; Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout"><i class="fa fa-sign-out"></i>&nbsp; Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </form>
            </div>
        </div>
    </nav>
</div>
{% endblock %}
<div style="position: fixed; top: 60px; width: 100%">
    <div class="container">
        <div id="message"></div>
    </div>
</div>
<div id="content">
    <div class="container" style="height: 100%">
        {% block content %}{% endblock %}
    </div>
</div>
<div id="footer">
    <div class="container">
        {% block footer %}{% endblock %}
    </div>
</div>
</body>
</html>