<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-lock"></i> Login</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" action="/login/" method="post" id="login-form">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="email">Email</label>

                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="password">Password</label>

                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" id="login-btn"><i class="fa fa-warning"></i> Sign in</button>
                    <span> - <small class="text-muted">this login can be used only by editors. [<a href="#"> More...</a>]</small></span>
                </div>
            </div>
        </form>
        <hr style="border-color: #ccc">
        <div class="social-login">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <div class="btn btn-group">
                        <button class="btn btn-primary">
                            <i class="fa fa-facebook"></i>
                        </button>
                        <a href="/login/facebook" class="btn btn-primary">
                            Login with facebook
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="btn btn-group">
                        <button class="btn btn-primary">
                            <i class="fa fa-twitter"></i>
                        </button>
                        <a href="/login/twitter" class="btn btn-primary">
                            &nbsp;&nbsp;Login with twitter&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="well well-lg">-->
<!--<div class="text-center">-->
<!--<a href="/register"><strong>Register with us</strong></a>-->
<!--</div>-->
<!--</div>-->