html, body {
    height: 100%;
    padding-top: 50px;
}

#content {
    min-height: 90%;
}

.profile {
    margin-left: 20px;
    margin-right: 20px;
}

.profile-name {
    font-weight: bold;
}

.profile-about {
    border-top: 1px solid #e7e7e7;
    margin-top: 20px;
    margin-right: 80px;
    padding-top: 20px;
}

#post {
    margin-bottom: 10px;
}

.post-title {
    font-size: 36px;
}

.post-content {
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.8em;
}

.post-content h1 {
    margin: 20px 0px;
    color: #333;
}

.summary {
    min-height: 90%;
}

.post-summary {
    height: 200px;
    overflow: hidden;
}

.post-comment {
    font-family: Verdana;
    font-size: 13px;
    line-height: 1.6em;
}